<div class="w-full bg-slate-950 p-4">
  <div
    class="flex items-center gap-4 bg-slate-900 border border-slate-800 rounded-2xl p-4 shadow-lg"
  >
    <!-- Repository Input -->
    <div
      class="flex items-center gap-3 flex-1 bg-slate-900 border border-slate-700 rounded-xl px-4 py-3"
    >
      <!-- Icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-slate-400"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
        />
      </svg>

      <div class="w-full">
        <input
          type="text"
          placeholder="Repository"
          class="w-full bg-transparent outline-none text-white placeholder-slate-500"
          [(ngModel)]="reponame"
          (keyup.enter)="repoName()"
        />
      </div>
    </div>

    <!-- Search Button -->
    <button
      class="bg-blue-500 hover:bg-blue-600 transition px-9 py-3 rounded-xl font-semibold text-white flex items-center gap-3"
      (click)="repoName()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-5.2-5.2m0 0A7.5 7.5 0 105.8 5.8a7.5 7.5 0 0010 10z"
        />
      </svg>

      Search
    </button>
  </div>
</div>
